<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>添加</h2>
    <form action="/addUser" method="POST">
        <label for="username">用户名：<input type="text" name="name"></label><br /><br />
        <label for="text">年&nbsp;&nbsp;&nbsp;&nbsp;龄：<input type="text" name="age"></label><br /><br />
        <label for=""><input type="submit" value="提交"></label>
    </form>
</body>
</html>